<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div class="mb-3 row mt-5">
    <!-- #region search input -->
    <div class="col-sm-8 mb-4 mb-sm-0">
      <input
        type="text"
        class="form-control"
        formControlName="searchInput"
        placeholder="Search for Github username"
      />
    </div>
    <!-- #endregion -->

    <!-- #region search button -->
    <div class="col-sm-4">
      <button
        class="btn btn-primary w-100"
        type="submit"
        [disabled]="searchForm.invalid"
      >
        Search
      </button>
    </div>
    <!-- #endregion -->
  </div>
</form>
